.inputContainer {
  display: inline; 
}

.inputContainer > * {
  margin: .25rem;
  height: 20px;
}

.inputContainer input {
  display: inline;
  padding: 0;
}
.inputContainer input[type="number"] {
  max-width: 50px;
}

.inputContainer button {
  flex: 0;
  background: var(--color-confirm);
}