.inputContainer {
  display: inline; 
}

.inputContainer > * {
  margin: .25rem;
  height: 20px;
}

.inputContainer input {
  padding: 0;
}

.inputContainer button {
  flex: 0;
  background: var(--color-confirm);
}