.ingredient {
  display: flex;
  width: clamp(200px, 100%, 500px);
}

.ingredient h2 {
  font-size: 18px;
}

.ingredient input {
  border-radius: 0;
  border-width: 0 0 2px 0;
  border-color: var(--off-black);
}

.ingredient input:focus {
  border-color: var(--highlight);

}
.actions {
  display: flex;
}
.actions button {
  -webkit-appearance: none;
  display: block;
  flex: 1;
}

.actions button:nth-of-type(2n) {
  color: #cc4b3c;
}