.ingredient {
  display: flex;
  width: clamp(200px, 100%, 500px);
}

.ingredient input {
  border-radius: 0;
  border-width: 0 0 2px 0;
  border-color: var(--off-black);
  padding: 0 .25em;
  margin: .3em 0;
}
.ingredient input[type=number]::-webkit-inner-spin-button, 
.ingredient input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.ingredient input[type=number] {
  -moz-appearance:textfield; /* Firefox */
  max-width: 2em;
  margin-right: .75em;
  }
.ingredient input:focus {
  border-color: var(--highlight);
}
.ingredient input[type="text"] {
  width: 7em;
}
.ingredient input[type="date"] {
  width: 10em;
}
.actions {
  display: flex;
}
.actions button {
  -webkit-appearance: none;
  display: block;
  flex: 1;
}

.actions button:nth-of-type(2n) {
  color: #cc4b3c;
}