.ingredient {
  display: flex;
  width: clamp(200px, 100%, 500px);
  padding: .25rem;
  margin: 1rem 0;
}

.ingredient h2 {
  font-size: 18px;
}

.ingredient input {
  border-radius: 0;
  border-width: 0 0 2px 0;
  border-color: var(--off-black);
}

.ingredient input:focus {
  border-color: var(--highlight);

}
.actions {
  display: flex;
}
.actions button {
  display: block;
  text-align: center;
  flex: 1;
  border-radius: 0;
  cursor: pointer;
}

.actions button:nth-of-type(2n) {
  background: salmon;
}