.container {
  width: 100%;
  margin-bottom: 2.7rem;
}

.form {
  display: flex;
  flex-flow: column;
  text-align: center;
}
.form label {
  margin-bottom: .25rem;
}
.form input {
  margin: 0;
}
.search {
  flex: 100%;
}

.button {
  margin: 0;
}