.list {
  width: 100%;
}

.recipe > * {
  margin: .5em 0;
}

a.button {
  color: var(--color-confirm);
  padding: .15em .5em;
}

.recipe h3 {
  margin: .1em 0;
  font-weight: 300;
  font-size: 1.25rem;
}

.recipe ul {
  margin: 0;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 .5rem;
}